{% extends 'base.html' %} {% block title%} Service {% endblock title %}{% block body %}
<center>
    <h3>Notice Of College</h3>
    <br>
    <h4>Final Year (2019-20) SPPU Examinations Notices</h4>
    <a href="http://moderncollegepune.edu.in/notices/final-year-2019-20-sppu-examinations-notices/">Click Here</a>


    <br>
    <br>
    <h3>Second Year Admission Notice</h3>
    <a href="http://moderncollegepune.edu.in/notices/second-year-admission-notice/">Click Here</a>
</center>
{% endblock body %}